section.section.info_section
	.info_section__body(data-scr)
		.info_section__image 
			+picture({
				class: 'info_section_img',
				customClass: 'info_section_img__in',
				type: 'jpg',
				img: `01`,
			})
		.info_section__block 
			+text_block({
				title: 'Sed faucibus quis',
				text: 'Fusce bibendum luctus massa, ut tincidunt lectus tincidunt in. Nulla tristique ipsum vitae lacus ullamcorper, at dictum nunc scelerisque.',
			})