section.section.instagram_section
	.instagram_section__body.animateItem
		.instagram_section__image 
			+picture({
				class: 'info_section_img',
				customClass: 'info_section_img__in',
				type: 'jpg',
				img: `06`,
			})
		.instagram_section__block 
			+text_block({
				mod: 'white',
				title: 'INSTAGRAM',
				text: 'Etiam lacus dolor, tincidunt vitae nisi in, vulputate placerat odio. Pellentesque iaculis.',
				button: 'VIEW ON INSTAGRAM',
			})