section.section.social_section
		.section_in 
			.social_section__body.animateItem
				.social_section__column.social_section__column--spotify
					+text_block({
							mod: 'white',
							heightMod: 'same',
							title: 'SPOTIFY',
							text: 'Follow me, stream and add my songs to your Spotify playlist.',
							button: 'FOLLOW ON SPOTIFY',
						})
				.social_section__column.social_section__column--itunes
					+text_block({
							mod: 'white',
							heightMod: 'same',
							title: 'ITUNES',
							text: 'Buy and download my songs from iTunes.',
							button: 'buy from itunes',
						})