// hero_section ========================================================================================================================================================
.letterAnimation .letter {
	display: inline-block;
	line-height: 1em;
}

.textAnimation .letter {
	display: inline-block;
	line-height: 1em;
}

.hero_section__bg {
	&::before {
		transform: translate(100%, 0);
		transition: transform 1.5s ease 1.5s;
	}
}

.hero_section__bg.activeState {
	&::before {
		transform: translate(0, 0);
	}
}

@include bp($point_2, min) {
	// info_section ========================================================================================================================================================

	.info_section__body {
		.info_section__block {
			overflow: hidden;
		}

		.text_block {
			opacity: 0;
			transform: translate(-100%, 0);

			transition: transform 0.8s ease 0s, opacity ease 0.8s 0s;
			will-change: transform, opacity;
		}

		.info_section__image {
			opacity: 0;

			transition: opacity ease 2s 0s;
			will-change: opacity;
		}
	}

	.info_section__body.activeState {
		.text_block {
			opacity: 1;
			transform: translate(0, 0);
		}

		.info_section__image {
			opacity: 1;
		}
	}

	// // gallery_section ========================================================================================================================================================

	.gallery_section__list {
		overflow: hidden;

		.gallery_section__item {
			transition: transform ease 1.2s;
			will-change: transform;

			&:nth-child(1) {
				transform: translate(-100%, 0);
			}
			&:nth-child(2) {
				transform: translate(0, -100%);
			}
			&:nth-child(3) {
				transform: translate(0, 100%);
			}
			&:nth-child(4) {
				transform: translate(100%, 0);
			}
		}
	}

	.gallery_section__list.activeState {
		.gallery_section__item {
			transform: translate(0, 0);
		}
	}

	// instagram_section ========================================================================================================================================================

	.instagram_section__body {
		.instagram_section__block {
			overflow: hidden;
		}

		.text_block {
			opacity: 0;
			transform: translate(100%, 0);

			transition: transform 0.8s ease 0s, opacity ease 0.8s 0s;
			will-change: transform, opacity;
		}

		.instagram_section__image {
			opacity: 0;

			transition: opacity ease 2s 0s;
			will-change: opacity;
		}
	}

	.instagram_section__body.activeState {
		.text_block {
			opacity: 1;
			transform: translate(0, 0);
		}

		.instagram_section__image {
			opacity: 1;
		}
	}

	// play_section ========================================================================================================================================================

	.play_section__body {
		.play_section__block {
			overflow: hidden;
		}

		.play_section__image {
			opacity: 0;

			transition: opacity 2s ease 0s;
			will-change: opacity;
		}

		.text_block {
			opacity: 0;
			transform: translate(-100%, 0);

			transition: transform 0.8s ease 0s, opacity ease 0.8s 0s;
			will-change: transform, opacity;
		}
	}

	.play_section__body.activeState {
		.play_section__image,
		.text_block {
			opacity: 1;
		}

		.text_block {
			transform: translate(0, 0);
		}
	}

	// social_section ========================================================================================================================================================

	.social_section__body {
		.social_section__column {
			overflow: hidden;

			.text_block {
				opacity: 0;
				transform: translate(-100%, 0);

				will-change: opacity, transform;
			}
		}

		.social_section__column--spotify {
			.text_block {
				transition: opacity 0.8s ease 0s, transform 0.8s ease 0s;
			}
		}

		.social_section__column--itunes {
			.text_block {
				transition: opacity 0.8s ease 0.5s, transform 0.8s ease 0.5s;
			}
		}
	}

	.social_section__body.activeState {
		.text_block {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}
