extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Amazing'}
block content_block
	include ../blocks/hero_section
	include ../blocks/info_section
	include ../blocks/gallery_section
	include ../blocks/instagram_section
	include ../blocks/play_section
	include ../blocks/social_section
